# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text
*.xml text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.mk txt eol=lf