*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
Gemfile.lock
archive.json
draft-ietf-quic-http.xml
draft-ietf-quic-qpack.xml
/lib
/node_modules/
/old/
package-lock.json
report.xml
rfc8999.xml
rfc9000.xml
rfc9001.xml
rfc9002.xml
